DATABASE_URI=<YOUR_DATABASE_URI_HERE>
PORT=<YOUR_PORT_HERE>
CLOUDINARY_URL=<YOUR_CLOUDINARY_URL_HERE>
CLOUDINARY_API_SECRET=<YOUR_API_SECRET_HERE>
AWS_ACCESS_KEY_ID=<YOUR_AWS_SECRET_ACCESS_KEY_HERE>
AWS_SECRET_ACCESS_KEY=<YOUR_AWS_SECRET_ACCESS_KEY_HERE>
AWS_REGION=<YOUR_AWS_REGION_HERE>